if SHIELD_CORNIX_ROBA_L

config ZMK_KEYBOARD_NAME
    default "Cornix-roBa"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNIX_ROBA_L || SHIELD_CORNIX_ROBA_R

config ZMK_SPLIT
    default y

endif
